@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;600;700&display=swap');


.sidebar{
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.932);
    z-index: 500;
    transition: all 0.3s ease-out;
}

.navlinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Red Rose', cursive;

    

}
.navlinks__item{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}